<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            hiid - 
        {% endblock %}
    </title>

    {% block head_links %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {% endblock%}

</head>
<body>

    {% block content %}
    {% endblock%}

    {% block scripts %}
        <script src="{{url_for('static', filename='scripts/master.js')}}"></script>
    {% endblock %}
    
</body>
</html>